@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700;900&display=swap");





body {
  background-color: rgb(238, 238, 238);
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}
h1{
  background-color: black;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  padding: 25px;
  line-height: 65px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 25px;
}
h4 {
  font-size: 18px;
  font-weight: 600;
  color: brown;
  padding: 15px;
}

header,
footer,
main {
  min-width: 800px;
}

header > h1 > img {
  max-width: 320px;
  height: 100%;
  display: block;
  margin: auto;
}

.all_me_div  {
  margin: 0;
  padding: 35px;
  text-align: center;
  line-height: 35px;
}

.all_me ul li{
  
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

header ul li a {
  color: rgb(58, 4, 184);
  text-decoration: none;
}

header ul li a:hover {
  color: rgb(170, 28, 78);
  text-decoration: underline;
}

article {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.news {
  font-size: 16px;
  font-weight: 500;
  height: 400px;
  line-height: 55px;
  padding: 105px 30px;
}

th {
  font-size: 20px;
  padding: 20px;
  color: rgb(70, 70, 225);
}

td {
  line-height: 30px;
}

p {
  display: block;
  margin: 0 auto;
}

.ideas {
  height: 280px;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  line-height: 25px;
  text-align: center;
}



.box {
  display: inline-block;
  float: top;
  margin: 2px;
  width: 30%;
  height: 150px;
  background-color: white;
}

.box,
.box2 p {
  line-height: 30px;
  font-size: 16px;
  padding: 10px;
}

.if ul {
  list-style-type: decimal;
}
.if ul li {
  line-height: 30px;
  padding: 15px;
}

.box2 {
  display: inline-block;
  margin: 2px;
  width: 30%;
  height: 400px;
  background-color: white;
}

 .top{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
 }